/* .card-container {
    display: flex;
    flex-wrap: wrap;
  }
  

  .card-image {
    width: 100%;
    max-width: 200px; 
  height: auto;
  }
  
  .card-content {
    flex: 1;
    padding: 15px;
  }
    */

    /* .gallery-card {
      display: flex;
      margin-bottom: 20px;
    } */
    