@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: rgb(194, 137, 191);
    font-size: large;
    font-weight: 700;
    
  }
  .default{
    font-size: large;
    font-weight: 700;
    color: azure;
  }

